body{
    background-color: #fcfcfc;
    font-family: Bradley Hand, cursive, Palatino, URW Palladio L, serif;
}
.istina{
    position: relative;
    box-sizing: border-box;
    padding: 10mm 25mm 10mm 25mm;
    border: 1px solid #ffdbca;
    width: 250mm;
    margin-left: 20%;
    /* box-shadow: 0 0 5mm 5mm #ffdbca; */
    text-align: justify;
    text-indent: 40px;
    font-size: x-large;
    background-color: aliceblue;
    text-decoration: none;
}
h1{
    text-align: center;
}
.nav {
    position: fixed;
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    width: 220px;
    height: 100%;
    float: left;
}
a {
    display: inline-block;
    padding:  2mm; 
    margin: 1mm;
    line-height: 3mm;
    width: 70%;
    border-radius: 12px;
    background-color: rgb(107, 107, 204);
    color: wheat;
    text-decoration: none;
}