body{
    background-color: #fdfdf691;
    font-family:  Palatino, URW Palladio L, serif;
}
.istina{
    position: relative;
    box-sizing: border-box;
    padding: 10mm 25mm 10mm 25mm;
    border-radius: 60px;
    width: 250mm;
    margin-left: 20%;
    /* box-shadow: 0 0 5mm 5mm #ffdbca; */
    text-align: justify;
    text-indent: 40px;
    font-size: x-large;
    background-color: #d7ecc5;
    color: #0e180a;
    text-decoration: none;
}
h1, ul{
    text-align: center;
}
.nav {
    position: fixed;
    /* list-style-type: none; */
    width: 18%;
    height: 100%;
}
a {
    display: inline-block;
    padding:  2mm; 
    margin: 1mm;
    line-height: 7mm;
    width: 90%;
    border-radius: 25px;
    background-color: rgb(107, 107, 204);
    text-decoration: none;
    font-size: 150%;
}
#pr{
    color: #ffffff;
    background-color: #176e00;
}
#th{
    background-color: #55624c;
    color: #ffffff;
}